 @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.main {
    background-image: url(Assets/bg.jpg);
    height: 100vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.main .box{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    opacity: 0.70;
    background-color: black;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 1) 80%);
}

nav {
    margin: auto;
    width: 90%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    color: red;
    width: 165px;
    position: relative;
    z-index: 10;
    top: 8px;
}

.nav_buttons {
    display: flex;
    gap: 20px;
}


nav button {
    position: relative;
    z-index: 10;
}

/* Responsive styles */
@media (max-width: 768px) {
    nav {
        width: 90vw;
    }
    
    nav img {
        width: 120px; /* Adjust the logo size */
        top: 0; /* Adjust position if necessary */
    }
    
    .nav_buttons {
        gap: 10px; /* Reduce gap between buttons */
    }
    
    nav button {
        font-size: 14px; /* Adjust button font size */
        padding: 5px 10px; /* Adjust button padding */
    }
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    nav img {
        width: 100px; /* Further adjust the logo size */
        top: 0; /* Adjust position if necessary */
    }

    .nav_buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    nav button {
        font-size: 12px; /* Further adjust button font size */
        padding: 5px; /* Further adjust button padding */
    }
}

.hero {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
    max-width: 100%; /* Prevent overflow */
    text-align: center;
}

.hero> :nth-child(1) {
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 600px;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400px;
    font-size: 20px;
    text-align: center;
}

.seperation {
    background-color: rgb(66, 66, 66);
    height: 7px;
}


/* Responsive styles */
@media (max-width: 768px) {
    .hero> :nth-child(1) {
        font-size: 40px; /* Adjust font size */
    }
    
    .hero> :nth-child(2) {
        font-size: 20px; /* Adjust font size */
    }
    
    .hero> :nth-child(3) {
        font-size: 18px; /* Adjust font size */
    }
}

@media (max-width: 480px) {
    .hero {
        gap: 15px; /* Reduce gap between elements */
        padding: 0 15px; /* Adjust padding */
    }

    .hero> :nth-child(1) {
        font-size: 30px; /* Further adjust font size */
    }

    .hero> :nth-child(2) {
        font-size: 18px; /* Further adjust font size */
    }

    .hero> :nth-child(3) {
        font-size: 16px; /* Further adjust font size */
    }
}

.btn {
    font-family: "Poppins", sans-serif;
    padding: 6px 25px;
    font-weight: 500;
    font-size: 16px;
    background-color: rgba(35, 35, 35, 0.7);
    border: 1px solid rgb(98, 98, 98);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.hero_buttons {
    display: flex;
    align-items: center;
    justify-content:center ;
    gap: 10px;
}

.btn_signin {
    background-color: red;
    border: none;
    color: white;
    padding: 6px 17px;
    font-size: 15px;
    border-radius: 4px;
}
    
.main input{
    padding: 16px 210px 16px 12px;
    font-size: 15px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgb(122, 122, 122);
    color: white;
}

.btn_getstarted {
    background-color: red;
    border: none;
    color: white;
    padding: 11px 28px;
    font-size: 20px;
    border-radius: 4px;
}

::placeholder {
    color: rgb(195, 195, 195);
}

@media (max-width: 1080px) {
    .hero_buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn_getstarted {
        margin-top: 10px; /* Adjust the spacing as needed */
    }
}

.sec1, .sec2, .sec3, .sec4{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
    color: white;
    margin: auto;
    padding: 80px;
}

.container1, .container2, .container3, .container4{
    display: flex;
    align-items: center;
    justify-content: center;
}

.secObj1, .secObj2, .secObj3, .secObj4{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 800px;
    margin: 0 auto; /* Center the container */
    overflow: hidden;
}

.secObj1 img{
    width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
    display: block;
}

.secObj1 video {
    position: absolute;
    top: 15%;
    left: 10%;
    width: 80%;
    height: auto;
    z-index: 5;
}

.secText1, .secText2, .secText3, .secText4 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
}

@media (max-width: 1080px) {
    .container1, .container3 {
        flex-direction: column;
        text-align: center;
    }

    .secObj1,.secObj3{
        width: 100%; /* Ensure the objects take full width */
        margin-top: 30px; /* Adjust the spacing between text and objects */
    }

    .secText1, .secText3 {
        width: 100%; /* Take full width on smaller screens */
    }
}

.secText1 :nth-child(1), .secText2 :nth-child(1) {
    font-size: 48px; 
    font-weight: bolder;
}

.secText1 :nth-child(2), .secText2 :nth-child(2) {
    font-size: 24px;
}

.secObj2 img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 14px;
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 40px;
    max-width: 55%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #545454;
    border-radius: 14px;
    padding: 10px;
    box-sizing: border-box;
}

.overlay .boxshot {
    width: 50px; /* Ensures the div adjusts to the content size */
    height: auto; /* Ensures the div adjusts to the content size */
    flex-shrink: 0; /* Prevents the boxshot from shrinking */
}

.overlay .boxshot img {
    width: 80%;
    height: auto;
    margin-left: 0px;
    margin-right: 15px;
}

.overlay .text{
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
    margin-right: 10px;
}

.overlay .text :nth-child(1) {
    font-size: 16px;
    font-weight: 600;
}

.overlay .text :nth-child(2) {
    font-size: 14px;
    font-weight: 300;
    color: #0071EB;
}

.overlay .download-icon {
    margin-left: 10px; /* Adjust spacing between text and download icon */
}

.overlay .download-icon img {
    width: 30px;
    height: auto;
    margin-left: auto;
}

.secText3 :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

.secText3 :nth-child(2) {
    font-size: 24px;
}

.secObj3 img {
    display: block;
    width: 100%;
    height: auto;
    z-index: 10;
    position: relative;
}

.secObj3 video {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; /* Set the video width to 60% of the container */
    height: auto; /* Maintain aspect ratio */
    max-height: 60%; /* Limit video height to 60% of the container height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.secText4 :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

.secText4 :nth-child(2) {
    font-size: 24px;
}

.secObj4 img{
    width: 100%;
}

@media (max-width: 1080px) {
    .container2, .container4 {
        flex-direction: column-reverse;
        text-align: center;
    }

    .secText2, .secText4 {
        width: 100%; /* Take full width on smaller screens */
        margin-bottom: 20px;
    }

    .secObj2, .secObj4 {
        width: 100%; /* Ensure the objects take full width */
        margin-top: 30px; /* Adjust the spacing between text and objects */
    }
}


.faq {
    background-color: black;
    color: white;
    padding: 80px;
}

.faq>h2{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.faqbox{
    display: flex;
    background-color: rgb(51, 51, 51);
    padding: 24px;
    max-width: 70vw;
    margin: 12px auto;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.faqbox:hover {
    background-color: rgb(90, 90, 90);
    transition: all 0.2s ease-out;
}

.faqbox span {
    font-weight: 300;
    font-size: 25px;
}

.faqbutton {
    margin: 40px auto;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer {
    color: rgba(255, 255, 255, 0.7);
    max-width: 60vw;
    height: 400px;
    margin: auto;
    padding: 0px;
}

footer .questions {
    padding: 0px 0px 40px 0px;
}

footer .footer_button {
    padding: 40px 0px 0px 0px;
}

footer .author {
    padding: 40px 0px 0px 0px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1080px) {
    .footer {
        grid-template-columns: repeat(2, 1fr); /* Change to 2 columns on smaller screens */
        gap: 20px; /* Add gap between columns */
    }
    footer {
        height: 550px;
    }
}

.footer_item {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration-color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
} 